@import url(turretcss.min.css);
@media (max-width:457px) {
	.button {
		margin: 5px
	}
}

.background-black {
	background-color: #212223
}

.divider {
	margin: 1em 0 1.25em;
	height: .2rem;
	max-width: 2.5rem
}

#flex {
	display: block
}

#sketch-holder {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	border-radius: .25em;
	max-width: 400px
}

.footer{
    text-align: center;
}

#canvasDiv {
	margin-top: 40px;
	text-align: center
}

.btnrow {
	text-align: center;
	box-sizing: inherit
}

#inviVid {
	width: 0;
	height: 0;
	overflow: hidden
}

@media (max-width:1279px) and (min-width:960px) {
	.container {
		max-width: 80rem
	}
	button:focus {
		outline: 0
	}
}
